#chat-window {
    height: 38rem;
}

#chat-window-messages {
    height: 36rem;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
}

#reply-window {
    position: absolute;
    right: 0;
    left: 0;
    top: -3rem;
}

.scroll__scroll-default {
    display: block;
}

.scroll__scroll-reversed {
    display: flex;
    flex-direction: column-reverse;
}