.bubble {
  &__image {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }

  &__reply {
    cursor: pointer;
  }

  &__reply:hover {
    color: #757ce8;
    &::before{
      content: "\'";
    }
    &::after{
      content: "\' Move to original";
    }
  }
}